[Unit]
Description=my-get-mail

[Service]
Type=simple
ExecStart=%h/.local/mail/utils/my-get-mail-daemon
Restart=always

[Install]
WantedBy=default.target
