[Unit]
Description=i3-my-focus-last daemon

[Service]
Type=simple
ExecStart=%h/.local/bin/i3-my-focus-last
Restart=always

[Install]
WantedBy=default.target
